@page "/love-htmx"
@inject IHtmxContext Htmx

<title>I ❤️ Blazor</title>

<div class="alert alert-info">
    <span class="text-lg-center">
        @Message
    </span>
</div>

@code{
    [Parameter]
    public string? Message { get; set; }

    protected override void OnParametersSet()
    {
        Message ??= Htmx.IsHtmx ? "I ❤️ HTMX" : "I ❤️ Blazor";
    }
}